<!DOCTYPE html>
<html lang="zh" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='web/favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='web/pico.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='web/kame.css') }}" type="text/css">
    <title>Kame</title>
</head>
<body>

<header> 
    <center> 
        <h1>海龟汤 <span id="thinking">🤔...</span> </h1>  
    </center>  
</header>

<main class="container">
    <div class="grid" id="soup_info" style="text-align: center;">
        <div>
            <h3>当前汤</h3>
            <p id="current_soup"></p>
        </div>

        <div>
            <h3>你的名字:</h3>
            <input type="text" id="player_name_input" value="匿名玩家" />
        </div>
    </div>

    <div id="chatbox" class="overflow-auto">
        <table>
        <tbody id="chat_tab"> 
            
        </tbody>
        </table>
    </div>

    <div class="grid" id="panel">
        <div  style="text-align: center;">
            <button id="btn_new_game" style="margin-right: 1.5em;">开始新汤</button>
            <button id="btn_end_game">结束此汤</button>
        </div>

        <div>
            <textarea name="saying" id="input_box"></textarea>
        </div>

        <div style="text-align: center;">
            <fieldset style="text-align: center;">
                <input type="radio" id="input_ask" name="input_type" value="Ask" checked /> 提问
                <input type="radio" id="input_answer" name="input_type" value="Answer" /> 回答
            </fieldset>
            <button id="input_btn">发送（Enter）</button>
        </div>
    </div>
</main>

</body>
<script src="{{ url_for('static', filename='web/kame.js') }}"></script>
</html>