<!DOCTYPE html>
<html lang="zh" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='web/favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='web/pico.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='web/kame.css') }}" type="text/css">
    <title>Kame</title>
</head>
<body>

<header> 
    <center> 
        <h1>海龟汤 <span id="thinking">🤔</span> </h1>  
    </center>  
</header>

<main class="container">
    <div id="soup_info">
        <div>
            <h4>当前汤</h4>
            <p id="current_soup">等待开始...</p>
        </div>
        <div>
            <h4>你的名字</h4>
            <input type="text" id="player_name_input" value="匿名玩家" />
        </div>
    </div>
    <div id="chatbox">
        <table>
            <tbody id="chat_tab"> 
                <tr>
                    <td class="sayer">系统</td>
                    <td class="cont">欢迎来到海龟汤游戏！点击"开始新汤"开始游戏。</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="panel">
        <div style="height: 63%;">
            <textarea id="input_box" placeholder="在此输入您的问题或答案...(最少5个字)"></textarea>
        </div>
        <div style="height: 33%;">
            <button id="btn_new_game">开始新汤</button>
            <button id="btn_end_game">结束此汤</button>
            <fieldset>
                <label style="width: 10%;">
                    <input style="width: 100%;" type="radio" id="input_ask" name="input_type" value="Ask" checked />
                    提问
                </label>
                <label style="width: 10%;">
                    <input style="width: 100%;" type="radio" id="input_answer" name="input_type" value="Answer" />
                    回答
                </label>
            </fieldset>
            <button id="input_btn">发送（Enter）</button>
        </div>
    </div>
</main>

</body>
<script src="{{ url_for('static', filename='web/kame.js') }}"></script>
</html>