#soup_info{
    width: 100%;
    max-height: 8em;
    min-height: 8em;
    margin-bottom: 0.5em;
}

#chatbox {
    background-color: #0d0f14;
    width: 100%;
    max-height: 35em;
    min-height: 35em;
    margin-bottom: 1.2em;
}

#panel {
    width: 100%;
    height: auto;
}

.sayer {
    background-color: #0d0f14;
    font-weight: bold;
    margin-right: 0.5em;
    width: 20%;
    color:lemonchiffon;
    font-weight: bold;
}

.cont {
    background-color: #0d0f14;
    width: 75%;
    color: lightcyan;
}

#input_box{
    width: 100%;
    height: 100%;
}

#chat_tab {
    scroll-behavior: smooth;
}

#current_soup {
    font-weight: bold;
    color: lightgreen;
}
