#chatbox {
    width: 100%;
    max-height: 40em;
    min-height: 40em;
    margin-bottom: 1em;
}

#panel {
    width: 100%;
    height: auto;
}

.sayer {
    font-weight: bold;
    margin-right: 0.5em;
    width: 20%;
    color:lemonchiffon;
    font-weight: bold;
}

.cont {
    width: 75%;
    color: lightcyan;
}

#input_box{
    width: 100%;
    height: 100%;
}

#chat_tab {
    scroll-behavior: smooth;
}
